@import 'primeicons/primeicons.css'
@import 'nib'

teal = #2798a1
red = #ed4259

body
    font-family: Arial, Helvetica, sans-serif
    font-size: 14px
    margin 0px

.container
  width 100%
  margin-left auto
  margin-right auto
  padding-left 0.5rem
  padding-right 0.5rem

input
    border 0px
    padding 0px
    margin 0px

hover-bg(bg-color, hover-color)
  background-color: bg-color
  transition: background-color 0.3s ease-in-out
  &:hover
    background-color: hover-color

hover-text(text-color, hover-color)
    color text-color
    transition color 0.3s ease-in-out
    &:hover
        color: hover-color


@media (min-width 475px)
  .container
    max-width 475px

@media (min-width 640px)
  .container
    max-width 640px

@media (min-width 768px)
  .container
    max-width 768px
    

@media (min-width 1024px)
  .container
    max-width 1024px

@media (min-width 1280px)
  .container
    max-width 1280px

@media (min-width 1536px)
  .container
    max-width 1536px
