@import 'primeicons/primeicons.css'
@import 'nib'

teal = #2798a1
red = #ed4259

body
    font-family: 'Roboto', sans-serif
    font-size: 14px
    margin 0px
    background-color #f5f5f5



input,button,body,p,a,ul,li
    border 0px
    padding 0px
    margin 0px
    text-decoration: none

hover-bg(bg-color, hover-color)
  background-color: bg-color
  transition: background-color 0.3s ease-in-out
  &:hover
    background-color: hover-color

hover-text(text-color, hover-color)
    color text-color
    transition color 0.3s ease-in-out
    &:hover
        color: hover-color


.flex
    display: flex

.flex-row
    flex-direction: row

.flex-col
    flex-direction: column

.justify-center
    justify-content: center

.justify-between
    justify-content: space-between

.justify-start
    justify-content: flex-start

.align-center
    align-items: center